:root {
    --primary-color: #283149;
    --accent-color: #f73859;
    --text-color: #404b69;
    --bg-color: #dbedf3;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100vw;
    height: 70px;
    text-align: center;
    color: var(--text-color);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    background: white;
    font-size: 15px;
    z-index: 5;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.container .btn {
    font-family: 'Ubuntu', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background: linear-gradient(to bottom, var(--accent-color) 50%, var(--primary-color) 50%);
    background-position-y: 100%;
    background-size: 100% 200%;
    color: white;
    transition: background-position 250ms;
    font-size: 20px;
    padding: 24px 48px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    pointer-events: all;
}

.container .btn:hover {
    background-position-y: 0px;
}

.container:hover~.parallax {
    opacity: 0.8;
}

.parallax {
    top: 0;
    position: sticky;
    will-change: transform;
    background-image: url('/static/img/background_protest.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-indicator {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 3.5s infinite 2s;
    height: 75px;
    width: 75px;
    cursor: pointer;
}

.parallax2 {
    /* The image used /
    background-image: url("heatmap.png");
  
    / Set a specific height /
    min-height: 500px;
  
    / Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.ptext {
    position: relative;
    font-size:25px;
    z-index: 2;
    padding: 40px;
    background: white;
    height: inherit;
    text-align: center;
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
}

.headtext {
    font-weight: bold;
    font-size: 30px;
}

.subheadtext {
    font-weight: bold;
    font-size: 20px; 
}

.mission {
    padding-bottom: 30px;
}

.footer {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 15px;
    width: 100vw;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-size: 15px;
}

/* the flexbox code */

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.grid2x2>div {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box {
    margin: 20px;
    font-size:15px;
    background-color: var(--primary-color);
    color: #dbedf3;
    width: 1px;
    padding: 5px;
}


@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
    }
    15.5666% {
        transform: translate(-50%, -25%);
    }
    33% {
        transform: translate(-50%, -50%);
    }
}