{% extends "base.html" %}


{% block head %}
<title>freedomap</title>
<meta charset="utf-8">
<meta name="description" content="Home page for freedomap - links and information">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<script src="{{ url_for('static', filename='/js/index.js') }}" defer></script>
{% endblock %}


{% block content %}
<main>
    <div class="header">
        <h1>freedomap</h1>
    </div>
    <div class="parallax">
        <img class="scroll-indicator" src="/static/img/double-down-arrow.png">
    </div>
    <div class="container">
       <a href="/map" class="btn">View the map</a>
    </div>

    <div class="ptext">
        <div class="mission">
            <div class="headtext">Our Mission</div>
        <br>
        At freedomap we believe that your right to protest should be protected and encouraged which is why we
        why we have created freedomap. freedomap is an accessible web application that allows users to document 
        and view protest opportunities in their area and around the world. With freedomap, you can join protests 
        and exercise your right to protest, anywhere, any time.
        </div>
        <div class="headtext">The Team</div>
        <div class="grid2x2">
            <div class="box box1"><div>Andrew Lester
                <br>
              A senior at George Mason High School, Andrew is interested in Computer Science, Robotics and smuggling narcotics across the Canada-US border. 
            </div></div>
            <div class="box box2"><div>Jonathan Oppenheimer
                <br>
                The big man; he is very large. 
            </div></div>
            <div class="box box3"><div>Rohan Suri
                <br>
                The big man; he is very large. 
            </div></div>
            <div class="box box4"><div>Sean Young
                <br>
                A senior at George Mason High School, Sean is a junior coder and is interested in things that go zoom.
            </div></div>
          </div>

       
    </div>

    <div class="parallax2"></div>

    <div class="footer"> Copyright © 2020 freedomap, All Rights Reserved</div>
</main>
{% endblock %}