{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/panel.css') }}">
<script src="{{ url_for('static', filename='/js/panel.js') }}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<aside>
    <form>
        Address: <input type = "text" name = "address" value = "" maxlength = "46" />
        <br>
        <div class="slidecontainer">
            Size of Protest: <input type="range" min="1" value="3" max="5"  class="slider" id="myRange">
        </div>
        <input type = "button" name = "addtags" value = "Add Tags" onclick="showTags()"> 
        <br>
        <br>
        <div class="additional_tags">
            <input type = "checkbox" name = "race" value = "on"> Racial Justice
            <br>
            <input  type = "checkbox" name = "women" value = "on"> Women's Rights 
            <br>
            <input type = "checkbox" name = "lgbtq" value = "on"> LGBTQ+ Rights
            <br>
            <input type = "checkbox" name = "political" value = "on"> Political Event
            <br>
            <input type = "checkbox" name = "climate" value = "on"> Climate Change
            <br>
            <input type = "checkbox" name = "local" value = "on"> Local Issue
            <br>
            <input type = "checkbox" name = "national" value = "on"> National Issue
            <br> 
        </div>

        
    </form>
</aside>
{% endblock %}